$tablet-breakpoint: 48rem; //768px;
$desktop-breakpoint: 80rem; //1280px;

$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;

//primary colors
$bandsite-black : #323232;
$silver : #afafaf;
$white : #ffffff;

//secondary colors
$bandsite-dark : #000000;
$mercury : #e1e1e1;
$alabaster : #fafafa;
