@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTPro.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProDemi.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNextLTPro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype"), url("../../assets/Font/Alternative files/AvenirNextLTProBold.ttf") format("truetype");
  font-weight: 700;
}
button,
label {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  button,
  label {
    font-size: 0.75rem;
  }
}

input,
textarea {
  background-color: #fafafa;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 400;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #323232;
}
input::placeholder,
textarea::placeholder {
  color: #323232;
}
@media screen and (min-width: 48rem) {
  input,
  textarea {
    font-size: 0.75rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: AvenirNextLTPro;
  color: #323232;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 600;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 48rem) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.quote-author {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .quote-author {
    font-size: 1.1rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
}

.footer__copy {
  color: #ffffff;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 48rem) {
  .footer__copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__copy-title {
  color: #ffffff;
  font-size: 0.813rem;
  line-height: 1.125rem;
  font-weight: 600;
}
@media screen and (min-width: 48rem) {
  .footer__copy-title {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
}

.logo-img {
  width: 7.5rem;
  height: 1.25rem;
}

.wrapper-menu {
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .wrapper-menu {
    width: 50%;
    height: 100%;
  }
}

.wrapper-header {
  background-color: #323232;
  width: 100%;
  left: 0;
  top: 0;
}

.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
@media screen and (min-width: 48rem) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    margin-left: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 3rem;
  }
}
@media screen and (min-width: 48rem) and (min-width: 80rem) {
  .header {
    margin-left: 9rem;
  }
}
.header__logo {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .header__logo {
    margin-top: 0;
    height: 100%;
    width: 20%;
  }
}
.header__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}
@media screen and (min-width: 48rem) {
  .header__menu {
    justify-content: flex-start;
    gap: 3rem;
  }
}
.header__item {
  text-align: center;
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 48rem) {
  .header__item {
    width: 20%;
  }
}
.header__item--active {
  border-bottom: solid #ffffff 0.3125rem;
}
@media screen and (min-width: 48rem) {
  .header__item--active {
    border-bottom: none;
  }
}
.header__item:hover {
  border-bottom: solid #ffffff 0.3125rem;
}
@media screen and (min-width: 48rem) {
  .header__item:hover {
    border-bottom: none;
  }
}
.header__nav-item {
  color: #e1e1e1;
  font-size: 1 rem;
  font-weight: 600;
}
.header__nav-item--active {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .header__nav-item--active {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    border-bottom: solid #ffffff 5px;
  }
}
.header__nav-item:hover {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .header__nav-item:hover {
    padding-top: 1.9rem;
    padding-bottom: 1.9rem;
    border-bottom: solid #ffffff 5px;
  }
}

.hero {
  background-image: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 14.375rem;
}
@media screen and (min-width: 48rem) {
  .hero {
    background-size: cover;
    background-position: center;
    height: 28.125rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero {
    background-size: cover;
    background-position: center;
    height: 40rem;
  }
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #323232;
  opacity: 0.5;
}
.hero__heading {
  font-size: 2.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-left: 1rem;
  z-index: 1;
}
@media screen and (min-width: 48rem) {
  .hero__heading {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 48rem) {
  .hero__heading {
    margin-left: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .hero__heading {
    margin-left: 9rem;
  }
}

.about__heading {
  padding: 1rem 0 0.5rem 1rem;
}
@media screen and (min-width: 48rem) {
  .about__heading {
    padding: 1.5rem 0 1rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__heading {
    padding: 1.5rem 0 1rem 9rem;
  }
}
.about__wrapper-img {
  display: flex;
  justify-content: center;
  align-content: center;
}
.about__img {
  padding: 0 1rem;
  width: 100%;
  height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media screen and (min-width: 48rem) {
  .about__img {
    padding: 0 6rem;
    height: 18rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__img {
    padding: 0 14rem;
    height: 31rem;
  }
}
.about__wrapper-txt {
  margin: 1rem;
}
@media screen and (min-width: 48rem) {
  .about__wrapper-txt {
    margin: 2rem 6rem;
  }
}
@media screen and (min-width: 80rem) {
  .about__wrapper-txt {
    margin: 2rem 14rem 3rem 14rem;
  }
}
.about__wrapper-quote {
  width: 85%;
}
.about__quote {
  font-weight: 700;
}
@media screen and (min-width: 48rem) {
  .about__info {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 48rem) {
  .about__info {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 48rem) {
  .about__wrapper-paragraph {
    display: flex;
    gap: 2rem;
  }
}

.gallery {
  background-color: #fafafa;
}
.gallery__container {
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .gallery__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 80rem) {
  .gallery__container {
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 3rem;
  }
}
.gallery__img-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 48rem) {
  .gallery__img-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
  }
}
.gallery__img {
  filter: grayscale(100%);
}
.gallery__img:hover {
  filter: grayscale(0%);
}
@media screen and (min-width: 48rem) {
  .gallery__img {
    width: calc(33.333% - 2rem);
  }
}

.comments__container {
  padding: 1rem;
}
@media screen and (min-width: 48rem) {
  .comments__container {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .comments__container {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

.form {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  gap: 1rem;
}
@media screen and (min-width: 48rem) {
  .form__wrapper {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
@media screen and (min-width: 80rem) {
  .form__wrapper {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
.form__avatar {
  padding-top: 1.5rem;
}
.form__avatar-img {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}
@media screen and (min-width: 48rem) {
  .form__avatar-img {
    width: 3rem;
    height: 3rem;
  }
}
.form__new-comment {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__new-comment-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__section {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form__label {
  color: #afafaf;
}
.form__field {
  border: 1px solid;
  border-color: #e1e1e1;
  border-radius: 4px;
  padding: 0.75rem;
}
@media screen and (min-width: 48rem) {
  .form__field {
    padding: 1rem;
  }
}
.form__field:focus {
  border-color: #323232;
}
.form__name {
  height: 2.25rem;
}
@media screen and (min-width: 48rem) {
  .form__name {
    height: 3rem;
  }
}
.form__button {
  height: 2.5rem;
  border-radius: 4px;
  background-color: #323232;
  color: #ffffff;
  width: 100%;
}
@media screen and (min-width: 48rem) {
  .form__button {
    width: 9.375rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.form__button:hover {
  background-color: #000000;
}
.form__button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

@media screen and (min-width: 48rem) {
  .social-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.wrapper-footer {
  background-color: #323232;
}

.footer {
  padding: 2rem 1rem;
}
@media screen and (min-width: 48rem) {
  .footer {
    padding: 2rem 2.25rem 2.5rem 2.25rem;
  }
}
@media screen and (min-width: 80rem) {
  .footer {
    padding: 2rem 9rem 2.5rem 9rem;
  }
}
.footer__email {
  color: #ffffff;
}
.footer__header {
  color: #ffffff;
  margin-top: 0;
}
@media screen and (min-width: 48rem) {
  .footer__header {
    margin-top: 1.868rem;
  }
}
.footer__icons {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
@media screen and (min-width: 48rem) {
  .footer__icons {
    align-items: center;
  }
}
.footer__subtitle {
  margin-top: 1rem;
}
.footer-all-contacts {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 48rem) {
  .footer-all-contacts {
    flex-direction: row;
    gap: 3.901rem;
  }
}
.footer__contact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer__wrapper-logo {
  margin-top: 4rem;
}
.footer__copyright {
  margin-top: 1rem;
}
@media screen and (min-width: 48rem) {
  .footer__logo-mobile {
    display: none;
  }
}
.footer__logo-tablet {
  display: none;
}
@media screen and (min-width: 48rem) {
  .footer__logo-tablet {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 48rem) {
  .footer__wrapper-social {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 48rem) {
  .footer__social {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
  }
}/*# sourceMappingURL=bio.css.map */